<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stotles Assignment Record Browser</title>

  <script type="module">
    import RefreshRuntime from '<%= assets_url %>/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => { }
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>


  <script type="module" src="<%= assets_url %>/src/main.tsx"></script>
</head>

<body>
  <div id="root" />
</body>

</html>
